<!DOCTYPE html>
<html>
<head>
<title> Campus Placement Prediction</title>
</head>
<body style="background-color:blue;>
<body background="sh.png" style="background-repeat:no-repeat; background-size:100% 100%" text='black'>
<h1>
    <b>

        <i>

            Campus Placement Prediction
        </i>
    </b>
</h1>

<h2> Enter the details to check whether Placement is placed   or not!</h2>
<h4>
<form action="/getdata" method="post">

<table>
<tr>
<td>Age<td>:&nbsp&nbsp&nbsp<input type='text' name='Age' placeholder='Enter Age' Enter Numerical part required='required'/><br>
</tr>
<tr>
<td>Gender<td>:&nbsp&nbsp&nbsp<input type='text' name='Gender' placeholder='Enter Gender' Enter 1 for Male 0 for Female required='required' /><br>
</tr>
<tr>Computer Science(0),Information Technology(1),Electronics And Communication(2),Mechanical(3),Electrical(4),Civil(5)
<td>Stream<td>:&nbsp&nbsp&nbsp<input type='text' name='Stream' placeholder='Stream' required='required'/><br>
</tr>
<tr>
<td>Internships<td>:&nbsp&nbsp&nbsp<input type='text' name='Internships' placeholder='ENTER 0For no1 for yes' required='required' /><br>
</tr>
<tr>
<td>CGPA<td>:&nbsp&nbsp&nbsp<input type='text' name='CGPA' placeholder='Enter number 6 7 8' required='required' /><br>
</tr>
<tr>
<td>HistoryOfBacklogs<td>:&nbsp&nbsp&nbsp<input type='text' name='HistoryOfBacklogs' placeholder='enter 0 or 1 ' required='required' /><br>
</tr>

<tr>
<td><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="submit" class="btn btn-primary btn-block btn-large"> Predict </button>
</td>
</tr>
</table>

</form>
</h4>

<h2>
<b>

</b>
</h2>
</body>
</html>